-if user_signed_in?
  %li=link_to(t('devise.menu._registration_items.edit'), edit_user_registration_path)
-else
  %li=link_to(t('devise.menu._registration_items.register'), new_user_registration_path)

