%table
  -@users.each do |u|
    %tr
      %td=u.email
      %td
        =simple_form_for u, :url => edit_user_group_path(u) do |f|
          =f.association :group, :label => false
          =f.button :submit
