.row-fluid
  .content
    .page-header
      = link_to new_page_path, :class => "btn btn-primary" do
        %i.icon-plus.icon-white
        New Group
      %h1 Listing groups
    %table
      %thead
        %tr
          %th Name
          %th
          %th
          %th
      %tbody
        - @groups.each do |group|
          %tr
            %td= group.name
            %td= link_to 'Show', group
            %td
!!!              = link_to 'Edit', edit_group_path(group), :class => "btn btn-primary" do
!!!                %i.icon-pencil.icon-white
!!!              = link_to group, :class => "btn btn-danger", :confirm => 'Are you sure?', :method => :delete do
!!!                %i{:class => "icon-trash icon-white"}
!!!                Delete
!!!           %br/
!!!             = link_to 'New Group', new_group_path
