.row-fluid
  .content
    .page-header
      = link_to groups_path, :class => "btn" do
        %i.icon-list-alt
        List of groups
      %h1 New group

    = render 'form'
    = link_to 'Back', groups_path, :class => "btn"
