%h1
  Group name: 
  = @group.name
%table
  %tr
    %th users
    %th
    %th
    %th
  - @group.users.each do |user|
    %tr
      %td= user.email
= link_to 'Edit group name', edit_group_path(@group)
|
\#{link_to 'groups list', groups_path}
