%li.li_menu
  -if page.id == params["id"].to_i
    =page.title
  -else
    =link_to page.title, '#', :class => "checkbox", :id => page.id
    %input{:type=>'radio', :name=>'page[page_id]', :value => page.id, :class => 'input-hidde'}
-if page[:children]
  %ul.subpages
    -page[:children].each do |child|
      = render :partial =>'liform', :locals => { :page => child }
