%p= t'devise.mailer.confirmation_instruccions.welcome' #{@resource.email}!
%p= t'devise.mailer.confirmation_instruccions.confirm_link'
%p= link_to t('devise.mailer.confirmation_instruccions.confirm_account'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
